@charset "UTF-8";

/* Color Theme Swatches in Hex
    .Tema-Exemplo-1-2-hex { color: #BCD07B; }
    .Tema-Exemplo-1-3-hex { color: #A4C639; }
    .Tema-Exemplo-1-5-hex { color: #7B942B; }
    .Tema-Exemplo-1-4-hex { color: #0B472F; }
    .Tema-Exemplo-1-1-hex { color: #3C4715; }
*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('/fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root {
    --cortranparente: #ffffff00;
    --cor0: #d9f08f;
    --cor1: #A4C639;
    --cor2: #7B942B;
    --cor3: #0B472F;
    --cor4: #3C4715;
    --cor5: #22280c;
    --corsombras: #3c47153a;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: var(--fonte-padrao);
    background: linear-gradient(var(--cor0), var(--cor1));
}

a.externo::after {
    content: '\00A0\1F517';
}

header {
    background: linear-gradient(to bottom, var(--cor2), var(--cor3));
    height: 150px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
}

header > h1 {
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    color: white;
    margin-bottom: 15px;
    text-shadow: 1px 1px 10px var(--corsombras);
}

header > p {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white;
    max-width: 500px;
    margin: auto;
    text-shadow: 1px 1px 10px var(--corsombras);
}

nav {
    background-color: var(--cor3);
    padding: 10px; 
    box-shadow: 0px 7px 7px var(--corsombras);
}

nav > a {
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    transition-duration: 0.3s;
}

nav > a:hover {
    background-color: var(--cor1);
}

main {
    background-color: white;
    min-width: 300px;
    max-width: 800px;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    margin: auto;
    box-shadow: 0px 0px 8px var(--corsombras);
}

div.video {
    background-color: var(--cor3);
    margin-bottom: 30px;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

main h1 {
    font-family: var(--fonte-android);
    color: var(--cor3);
    font-weight: normal;
}

main h2 {
    color: var(--cor3);
    font-family: var(--fonte-android);
    background: linear-gradient(to right, var(--cor1), var(--cortranparente));
    font-weight: normal;
}

main img {
    width: 100%;
}

main p {
    margin: 15px 10px;
    text-align: justify;
    /* text-indent: 30px; */
    line-height: 1.5em;
}

main strong {
    color: var(--cor4);
    font-weight: bold;   
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor0);
    padding: 2px 6px;
}

main img.pequena {
     max-width: 350px;
     display: block;
     margin: auto;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
}

aside > ul {
    list-style-type: '\2714\00A0';
    list-style-position: inside;
    margin: 10px;
    columns: 2;
}

aside > h3 {
    font-size: 1.3em;
    background-color: var(--cor3);
    color: white;
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

footer {
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 0.8em;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}